<html>
<head>
	<title>Blog jakuba</title>
</head>
<body>
	<h1>Tytuł</h1>
	<h2>Podtytuł</h2>
	<p>akapit</p>
	<em>kursywa tekst</em>
	<br> <!-- nowy wiersz -->
	<strong>tekst pogrubiony</strong>
	<a href="https://djangogirls.org">link</a><!--  adres w przycisku link -->
	<ul><li>pierwsza pozcyja</li><li>druga pozycja</li></ul> <!-- lista wypunktowana -->
	<div> <!-- <div></div> tworzy sekcje na stronie -->
	<p>HELO!</p>
	<p>it works!</p>
</div>
	<div><p>helo</p><p>it works</p></div>
</div>
</body>
</html>
